build/
.cache/
.vs/
.vscode/
out/
_codex_artifacts/

CMakeUserPresets.json
Testing/

*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

*.obj
*.o
*.lib
*.a
*.dll
*.dylib
*.exe
*.pdb
*.ilk
*.idb

tmp
